
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
    /* makes my life easier not to think of the hex  */
    --white: #f9f9f9;
    --black: #36383F;
    --grey: #85888C;
    --red: #66212B; 
    --bgwhite: #FAF2D8;
    --hovercolor: #E8DDB9;
}

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    cursor: pointer;

    
}
h1, h2, h3 {
    font-size: 3vw; 
    display: block;
}

p {
    font-size: 1.5vw; 
    padding-bottom: 4%;
}

ul{
    list-style: none;
}



body {
    margin: 0;
    padding: 0;
    background-color: var(--bgwhite);
    font-family: "Poppins", sans-serif;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.logoTxt{
    text-align: center;
    font-size: 3vw; 

}
.slide:first-child {
    background-image: url('../img/imgpentruheader.png');  
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; 
    -webkit-animation: Gradient 145s ease infinite;
	-moz-animation: Gradient 155s ease infinite;
	animation: Gradient 125s ease infinite;
	background-size: 150% 150%;
    position: relative;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* Make the images responsive */
.top-image, .bottom-image {
    height: auto;
    position: relative;
    cursor: pointer;
}
.top-image{
    top:-45%;
}
.bottom-image{
    top: -5px;
}

.slide:nth-child(4){
 background-color:var(--bgwhite) !important;
 border-bottom-style: solid;
 border-bottom-color: var(--black) !important;
}
#slide2{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-flex;
    columns: 2;
    flex-direction: row;
    

}


#slides {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.slide {
    width: 100%;
    height: 101vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;



}

.slide:nth-child(odd) {
    background-color:var(--bgwhite);
    

}

.slide:nth-child(even) {
    background-color: var(--red);
    

}


.card{
    top: -20%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 70%;
    border-radius: 15px;
    background-color: var(--bgwhite);
    padding: 30px 10% 0 10%;

}
.cardRed{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 0.5vw !important; 
    padding-left: 10%;
    padding-top: 3%;
}



/* an over engineered button i regret doing */

.button {
    margin: 20px;
}

.button {
    width: 100%;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.2),
                4px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.badIdea  {
    background: var(--red);
    line-height: 42px;
    padding: 0;
    border: none;
    font-size: 1.3vw; 
    letter-spacing: 2px;
    text-indent: 20px;
    word-spacing: 2px;
    text-transform:uppercase

}

.badIdea span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.badIdea:hover {
    background: transparent;
    color: #000;
    box-shadow: none;
}



.badIdea span::before,
.badIdea span::after {
    position: absolute;
    content: "";
    box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.5),
                4px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

.badIdea span::before {
    left: 0;
    top: 0;
    width: 0;
    height: 0.5px;
    transition: all 500ms ease;
}

.badIdea span::after {
    right: 0;
    bottom: 0;
    width: 0;
    height: 0.5px;
    transition: all 500ms ease;
}

.badIdea span:hover::before,
.badIdea span:hover::after {
    width: 100%;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: calc(20% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product img {
    width: 100%;
    height: 90%;
}

form {
    padding-left:25px;
    padding-right:25px;
    padding-top:60px;
    margin: 12px auto;
    border: 2px solid #ccc;
    border-radius: 20px;
    position:relative;
    z-index:1;
  }
  
  form > article{
    position:absolute;
    top:0;
    left:50%;
    padding:0 20px;
    color: rgb(0, 0, 0);
    transform:translate(-50%,-50%);
    background-color:rgb(224, 222, 222);
    border: 2px solid #ccc;
    border-radius: 20px;
    text-align:center;
  }
  
  form > article {
    filter:invert(1);
    width:350px;
  }
  
  form > input,
  form > textarea {
    padding: 13px;
    margin: 13px auto;
    border: 1px solid #ccc;
    color: rgb(0, 0, 0);
    background-color: rgb(248, 243, 243);;
    border-radius: 5px;
    display: block;
    width: 30vw;
  }
  
  form > textarea{
    height:100px;
    resize:none;
  }
  
  form > input[type="submit"] {
    max-width: 10vw;
  }
  
  form > input[type="submit"]:hover {
    background-color: rgb(255, 255, 255);
  }
  .footARTICLE{
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 2.3vw; 

  }
  .carousel-container {
    display: flex;
    overflow-x:scroll;
    white-space: nowrap;
    padding-top: 5%;
    width: 90%;
    scrollbar-width:none;
  }
  
  .carousel-slide {
    flex: 0 0 33%;
    height: auto; 
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .carousel-slide img {
    max-width: 90%;
    height: 100%;
    display: block;
    border-radius: 10px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  
  .carousel-animation {
    display: flex;
  transition: transform 1s ease;
    animation: scroll 25s linear infinite; 
  }
  